@model IEnumerable<Proyecto20.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Presentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Barras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Promedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IEPS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Presentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Barras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_Promedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IEPS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
