@model Proyecto20.Models.Almacen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Almacen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.Nproveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.Nproveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nproducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nproducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Npresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Npresentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Almacen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
